body {
padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color:black;
}

.menu {
  display: flex;
}


.menu li {
  font-size: 24;
}

.menu li a {
  text-decoration: none;
  list-style-type: none;
  morgin-right: 40px;
}

.p {
  font-size: 32;
  font-weight: 100;
}

.h1 {
  font-size: 40;
  font-weight: 800;
}

.h2 {
  font-size: 40;
  font-weight: 500;
}

.container {
  width: 1612px;
  margin: 0 auto;
}
