body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("img/back.jpg");
}

.container {
  margin-left: 8%;
  margin-right: 8%;
  background: blue;
}

.nav {
 display: flex;
 align-items: center
}

.main {
	
}

#logo {
  margin-left: 2%;
  margin-right: 10%;
  max-width: 72px;
  max-height: 72px;
}

.menu li {
  display: inline-block;
  margin-right: 3.5%;
}

.menu li a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.p {
  font-size: 32;
  font-weight: 100;
}

.h1 {
  font-size: 40;
  font-weight: 800;
}

.h2 {
  font-size: 40;
  font-weight: 500;
}


