body {
  font-family: 'Montserrat', sans-serif;
}

.p {
  font-size: 24px;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
}

h2 {
  font-size: 32px;
  font-weight: 500;
}

.header {
 background: linear-gradient(#FFFAF0, #FFDEAD);
 margin: 0px -10px 0px -10px;
}


.container {
  margin-left: 8%;
  margin-right: 8%;
}

.nav {
 display: flex;
 align-items: center;

}

#logo {
  margin-left: 2%;
  margin-right: 23%;
  max-width: 72px;
  max-height: 72px;
}

.menu li {
  display: inline-block;
  margin-right: 67px;
  font-size: 24px;
}


@media screen and (max-width: 1580px) {
  #logo {
  margin-left: 2%;
  margin-right: 10%;
  max-width: 72px;
  max-height: 72px;
}

.menu li {
  display: inline-block;
  margin-right: 30px;
}
}

@media screen and (max-width: 1150px) {
  #logo {
  margin-left: 2%;
  margin-right: 0%;
  max-width: 72px;
  max-height: 72px;
}

.menu li {
  display: inline-block;
  margin-right: 15px;
}
}

.menu li a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.main {
  background: center url("../img/background.jpg");
  background-size: cover;
  margin: 0px -10px 0px -10px;
  padding-top: 5%;
  padding-bottom: 5%;
  height: 1005px;
}

.main h1 {
 padding-left: 50%;
}

.main h2 {
 padding-left: 55%;
}
